USE [master]
GO
/****** Object:  Database [CS_TUR_LOG]    Script Date: 22.05.2022 19:27:56 ******/
CREATE DATABASE [CS_TUR_LOG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS_TUR_LOG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CS_TUR_LOG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS_TUR_LOG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CS_TUR_LOG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS_TUR_LOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS_TUR_LOG]
GO
/****** Object:  UserDefinedFunction [dbo].[rzrvsynlr]    Script Date: 22.05.2022 19:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[rzrvsynlr](
    @rezervasyon_id INT,
    @rezervasyon_ucreti decimal(3,1),
    @rezervasyon_yili int
)
RETURNS decimal(3, 1)
AS 
BEGIN
    RETURN @rezervasyon_id * @rezervasyon_ucreti * (1 - @rezervasyon_yili);
END;


GO
/****** Object:  Table [dbo].[musteriler]    Script Date: 22.05.2022 19:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteriler](
	[musteri_id] [int] NOT NULL,
	[musteri_ad_soyad] [nvarchar](60) NOT NULL,
	[musteri_adresi] [nvarchar](300) NOT NULL,
	[musteri_tel_no] [nvarchar](14) NOT NULL,
	[musteri_tc_kimlik_no] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_musteriler] PRIMARY KEY CLUSTERED 
(
	[musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rezervasyonlar]    Script Date: 22.05.2022 19:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezervasyonlar](
	[rezervasyon_id] [int] NOT NULL,
	[rezervasyon_adi] [nvarchar](50) NOT NULL,
	[rezervasyon_yapan_ad_soyad] [nvarchar](50) NOT NULL,
	[rezervasyon_sorumlusu] [nvarchar](50) NOT NULL,
	[araca_binecegi_yer] [nvarchar](50) NOT NULL,
	[rezervasyon_tarihi] [date] NOT NULL,
	[iletisim_numarasi] [int] NOT NULL,
	[rezervasyon_yili] [int] NOT NULL,
	[rezervasyon_ucreti] [decimal](3, 1) NULL,
 CONSTRAINT [PK_rezervasyonlar] PRIMARY KEY CLUSTERED 
(
	[rezervasyon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rezervasyonlar]  WITH CHECK ADD  CONSTRAINT [CK_rezervasyonlar] CHECK  (([rezervasyon_tarihi]>'2022-01-01'))
GO
ALTER TABLE [dbo].[rezervasyonlar] CHECK CONSTRAINT [CK_rezervasyonlar]
GO
USE [master]
GO
